*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:radial-gradient(rgb(80, 80, 140),black);
  color: #f0f0f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-parent-div{
  width: 400px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(34, 34, 69, 0.747);
  padding: 10px;
  box-shadow: 5px 5px 15px rgb(36, 36, 42);
  backdrop-filter:blur(30px);
}

.section{
 width: 300px;
 height: 40px;
 border-radius: 5px;
 background-color: rgb(17, 17, 49);
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding: 5px;
 color: #f0f0f0;
}

.section-btn{
 width: 300px;
 height: 40px;
 border-radius: 5px;
 background-color: rgb(17, 17, 49);
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 color: #f0f0f0;
}


#display-password{
  width: 250px;
  background-color:rgb(17, 17, 49) ;
  border-radius: 5px;
  border: none;
  color: #f0f0f0;
}

#generate-btn,#reset{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(17, 17, 49);
  color: #f0f0f0;
}


#upper-case,#lower-case,#numbers,#symbols{
  margin: 5px;
  margin-left: -100px;
}

#display-password:focus{
outline-style: none;
}

#display-password::placeholder{
  color: #f0f0f0;
}